// 大屏配置
$titleColor: #8a8a8a;
$borderColor: #1e6faa;
$bgColor: #efefef;
$borderPadding: 10px;
$fontColor: #aaddff;
$fontYellowColor: #ecc95f;
$mainBlue: #00fefb;
$mainYellow: #fae61b;
$mainRed: #e77c6c;
$mainGreen: #00ffce;

// PC配置
$titleColorPc: #232c3b;
$sectionColorPc: #ffffff;
$bgColorPc: #f3f7fb;
$borderPaddingPc: 3px;
$fontColorPc: #7a869a;
$fontYellowColorPc: #ecc95f;
$mainBlue1Pc: #0164b8;
$mainBlue2Pc: #0c88f6;
$mainBlue3Pc: #1acdff;
$mainGreenPc: #43e9c6;
