<div id="visual-page1" class="visual-screen-wrapper">
	<div class="visual-top">
		<div class="digital-title">
			<div class="visual-datetime" id="visual-autoTime">2021年4月14日  9:40</div>
			<div class="visual-title-container">
				<div><a href="static/platform/sub/index.html?ctrl=static%2Fapplications%2Facademy%2Fvisual%2Fbiz%2Fzhixun%2Fzhixun.js&html=static%2Fapplications%2Facademy%2Fvisual%2Fbiz%2Fzhixun%2Fviews%2Findex.html&extend1=&extend2=&extend3=&extend4=&extend5=&tabId=zhixun&tabId=zhixun" target="_blank">绍兴干部教育智训平台</a></div>
				<!-- <div class="visual-line"></div> -->
			</div>
			<div class="visual-zoneSelect">市级网院</div>
		</div>
	</div>
	<div class="visual-content">
		<div class="visual-left">
			<div class="visual-left-top">
				<section class="width100 height100 visual-module" id="module-1"></section>
			</div>
			<div class="visual-left-middle">
				<section class="width100 height100 visual-module" id="module-2"></section>
			</div>
			<div class="visual-left-bottom">
				<section class="width100 height100 visual-module" id="module-3"></section>
			</div>
		</div>
		<div class="visual-middle">
			<div class="visual-middle-top">
				<section class="width100 height100 visual-module" id="module-4"></section>
				<div class="visual-left-top-border"></div>
				<div class="visual-right-top-border"></div>
				<div class="visual-left-bottom-border"></div>
				<div class="visual-right-bottom-border"></div>
				<div class="visual-margin-top-border"></div>
				<div class="visual-margin-bottom-border"></div>
			</div>
			<div class="visual-middle-middle">
				<div class="visual-middle-middle-top visual-flexrow width100 height75">
					<section class="width50 height100 visual-module" id="module-5"></section>
					<section class="width50 height100 visual-module" id="module-6"></section>
				</div>
				<section class="width100 height25 visual-module" id="module-7"></section>
			</div>
			<div class="visual-middle-bottom">
				<section class="width100 height100 visual-module" id="module-8"></section>
			</div>
		</div>
		<div class="visual-right">
			<div class="visual-right-top">
				<div class="visual-flexrow width100 height100">
					<section class="width50 height100 visual-module" id="module-9"></section>
					<section class="width50 height100 visual-module" id="module-10"></section>
				</div>
			</div>
			<div class="visual-right-middle">
				<section class="width100 height100 visual-module" id="module-11"></section>
			</div>
			<div class="visual-right-bottom">
				<section class="width50 height100 visual-module" id="module-12"></section>
				<section class="width50 height100 visual-module" id="module-13"></section>
			</div>
		</div>
	</div>
</div>
