.visual-warning {
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    font-size: 0.25rem;
}

.visual-warning.visual-warning-red {
    background: -webkit-radial-gradient(#ca5559 50%, #ffffff 80%, transparent);
    background: -moz-radial-gradient(#ca5559 50%, #ffffff 80%, transparent);
    background: -o-radial-gradient(#ca5559 50%, #ffffff 80%, transparent);
    background: radial-gradient(#ca5559 50%, #ffffff 80%, transparent);
}

.visual-warning.visual-warning-yellow {
    background: -webkit-radial-gradient(#F6D061 50%, #ffffff 80%, transparent);
    background: -moz-radial-gradient(#F6D061 50%, #ffffff 80%, transparent);
    background: -o-radial-gradient(#F6D061 50%, #ffffff 80%, transparent);
    background: radial-gradient(#F6D061 50%, #ffffff 80%, transparent);
}

.visual-warning.visual-warning-blue {
    background: -webkit-radial-gradient(#4D7CFE 50%, #ffffff 80%, transparent);
    background: -moz-radial-gradient(#4D7CFE 50%, #ffffff 80%, transparent);
    background: -o-radial-gradient(#4D7CFE 50%, #ffffff 80%, transparent);
    background: radial-gradient(#4D7CFE 50%, #ffffff 80%, transparent);
}

.visual-warning.visual-warning-green {
    background: -webkit-radial-gradient(#69F88E 50%, #ffffff 80%, transparent);
    background: -moz-radial-gradient(#69F88E 50%, #ffffff 80%, transparent);
    background: -o-radial-gradient(#69F88E 50%, #ffffff 80%, transparent);
    background: radial-gradient(#69F88E 50%, #ffffff 80%, transparent);
}