<style>
	.test {
	 	margin-left: 15p;
	 	display:inline-block;
	}
    .rx-layout-main {
        top: 0;
    }
    #test1 {
    	width: 100px;
    	height: 100px;
    }
    #test2 {
    	width: 200px;
    	height: 200px;
    	margin-top: 15px;
    }
    
    #test3 {
    	width: 30px;
    	height: 100px;
    	margin-top: 15px;
    	margin-left: 15px;
    }
    
    #test4 {
    	width: 100px;
    	height: 120px;
    	margin-top: 15px;
    	margin-left: 15px;
    	display: inline-block;
    }
    #test5 {
    	width: 500px;
    	height: 300px;
    	margin-top: 15px;
    	margin-left: 15px;
    	border: 1px solid #666;
    	background: #082247;
    	display: inline-block;
    }
    #test6 {
    	width: 200px;
    	height: 200px;
    	margin-top: 15px;
    	margin-left: 15px;
    	border: 1px solid #666;
    	background: #082247;
    	display: inline-block;
    }
	.test7 {
		width: 550px;
      	height: 70px;
    	margin-top: 15px;
    	margin-left: 15px;
    	border: 1px solid #666;
    	background: #082247;
    	display: inline-block;
		padding: 20px;
    }
	.test8 {
    	width: 600px;
    	height: 70px;
    	margin-top: 15px;
    	margin-left: 15px;
    	border: 1px solid #666;
    	background: #082247;
    	display: inline-block;
		padding: 20px;
    }
	.test9 {
    	width: 400px;
    	height: 70px;
    	margin-top: 15px;
    	margin-left: 15px;
    	border: 1px solid #666;
    	background: #082247;
    	display: inline-block;
		padding: 20px;
    }
    
    .test10 {
    	width: 700px;
    	height: 300px;
    	margin: 15px;
    	border: 1px solid #666;
    	background: #082247;
    	display: inline-block;
    }
</style>

<div class="rx-layout-wrap">
    <div class="rx-layout-main">
        <div class="rx-layout-center col-md-12 col-lg-12">
            <div id="main">
            	<div class="test" id="test1" ></div>
            	<div class="test" id="test2" ></div>
            	<div class="test" id="test3" ></div>
            	<div class="test" id="test4" ></div>
            	<div class="test" id="test5" ></div>
            	<div class="test" id="test6" ></div>
				<div class="test test7">
					<div id="test7" ></div>
				</div>
				<div class="test test8" >
					<div id="test8" ></div>
				</div>
				<div class="test test9" >
					<div id="test9" ></div>
				</div>
				<div class="test test10" >
					<div id="test10"></div>
				</div>
            </div>
        </div>
    </div>
</div>
