<style>
    .text-left {
        text-align: left !important;
    }
</style>
<div class="container-fluid">
    <form id="coordinationForm" class="form-horizontal" onsubmit="return false;">
        <div class="row">
            <div style="color: #337ab7;padding: 10px 0"><span>数据超市</span></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input id="check_1" name="check" type="checkbox" value="1"/>&nbsp;全市培训班次统计
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input id="check_2" name="check" type="checkbox" value="2"/>&nbsp;全市培训人次统计
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input id="check_3" name="check" type="checkbox" value="3"/>&nbsp;全市县处级干部培训情况
                    </label>
                </div>
            </div>
            <div class="col-md-3" style="padding-right: 0">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input id="check_4" name="check" type="checkbox" value="2"/>&nbsp;各单位参加主体班次培训情况
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input id="check_5" name="check" type="checkbox" value="5"/>&nbsp;各单位网络学习培训情况
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input id="check_6" name="check" type="checkbox" value="6"/>&nbsp;优秀学习培训成果汇编
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input id="check_7" name="check" type="checkbox" value="7"/>&nbsp;全市年轻干部培训情况
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="color: #337ab7;padding: 10px 0"><span>协同清单</span></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">市委中心工作培训赋能需求—征求主体班次意见</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">市委市政府重点任务清单—谋划年度主体班次</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">县处级干部理论和党性教育需求</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">县处级干部专业化能力和知识培训需求</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">年轻干部培训需求</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">市委党校主体班次学员培训档案—完善档案</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">市行政学院、市社会主义学院培训情况—完善记录</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">各条线上级调训情况—完善个人培训记录</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">各单位备案班次培训情况—统筹全市培训</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">各单位其他业务培训情况-完善个人培训记录</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">学习强国学习情况—完善网络学习考核</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">县处级干部名册</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">各单位编制数—用于分配调训名额</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-10 control-label text-left">全市各类干部数量—用于分类调训</label>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default">上传</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


