<style>
	#searchYear{
		cursor: pointer;
	}
</style>

<div id="searchBlock">
    <form id="searchForm" class="form-horizontal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" class="control-label col-md-4">干部姓名：</label>
                        <div class="col-md-8">
                            <input id="name" name="name" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="employer" class="control-label col-md-4">工作单位：</label>
                        <div class="col-md-8">
                            <input id="employer" name="employer" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="className" class="control-label col-md-4">参加班级：</label>
                        <div class="col-md-8">
                            <input id="className" name="className" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                    <button id="searchBtn" type="button" class="btn btn-default">
                        <i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button id="resetBtn" type="button" class="btn btn-default">
                        <i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
                       
        </div>
    </form>
</div>

<div id="excellentStudGrid">

</div>
