<!-- <style>
	#searchYear{
		cursor: pointer;
	}
</style>
<div id="searchBlock">
    <form id="searchForm" class="form-horizontal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="searchYear" class="control-label col-md-4">查询年份：</label>
                        <div class="col-md-8">
                            <input id="searchYear" name="searchYear" type="text" class="form-control" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button id="searchBtn" type="button" class="btn btn-default">
                        <i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button id="resetBtn" type="button" class="btn btn-default">
                        <i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>            
        </div>
    </form>
</div> -->

<div id="popularClassRankGrid">

</div>
